<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(admin|ecadmin|mobile|js|data|system)/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="{R:1}/{R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^cat-([0-9a-zA-Z_]+)-attr([^-]*)-([0-9]+)-(.+)-([a-zA-Z]+)[\/]*$" ignoreCase="false" />
                    <action type="Rewrite" url="category.php\?defurl={R:1}&amp;filter_attr={R:2}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^cat-([0-9a-zA-Z_]+)-attr([^-]*)[\/]*$" ignoreCase="false" />
                    <action type="Rewrite" url="category.php\?defurl={R:1}&amp;filter_attr={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 4">
                    <match url="^cat-([0-9a-zA-Z_]+)-([0-9]+)-(.+)-([a-zA-Z]+)[\/]*$" ignoreCase="false" />
                    <action type="Rewrite" url="category.php\?defurl={R:1}&amp;page={R:2}[QSA,L]" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^cat-([0-9a-zA-Z_]+)[\/]*$" ignoreCase="false" />
                    <action type="Rewrite" url="category.php\?defurl={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 6" stopProcessing="true">
                    <match url="^cat-(?:[0-9a-zA-Z_]+)/([0-9]+)(.*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="goods.php\?id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 7" stopProcessing="true">
                    <match url="^([0-9a-zA-Z_]+)-([0-9]+)-(.+)-([a-zA-Z]+)[\/]*$" ignoreCase="false" />
                    <action type="Rewrite" url="article_cat.php\?defurl={R:1}&amp;page={R:2}&amp;sort={R:3}&amp;order={R:4}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 8" stopProcessing="true">
                    <match url="^([0-9a-zA-Z_]+)-([0-9]+)-(.+)[\/]*$" ignoreCase="false" />
                    <action type="Rewrite" url="article_cat.php\?defurl={R:1}&amp;page={R:2}&amp;keywords={R:3}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 9" stopProcessing="true">
                    <match url="^([0-9a-zA-Z_]+)-([0-9]+)[\/]*$" ignoreCase="false" />
                    <action type="Rewrite" url="article_cat.php\?defurl={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 10" stopProcessing="true">
                    <match url="^([0-9a-zA-Z_]+)[\/]*$" ignoreCase="false" />
                    <action type="Rewrite" url="article_cat.php\?defurl={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 11" stopProcessing="true">
                    <match url="^(?:[0-9a-zA-Z_]+)/([0-9]+)(.*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="article.php\?id={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
